html, body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
body {
  position: relative;
}
/* background images */
.background-image-overlay {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/background-image-overlay.png) repeat;
	z-index: -1;
}
#outer-background-image {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	background-image: url(../img/bg01.jpg);
	background-position: center;
	background-size: cover;
	z-index: -2;
}

/*li#menu-item-history.active #outer-background-image {
	background-image: url(../img/bg02.jpg);
}

/*li#menu-item-text.active {
	background-image: url(../img/bg03.jpg);
}

li#menu-item-contact.active {
	background-image: url(../img/bg04.jpg);
}*/

/*#outer_background_container .background-img img {
	position: absolute;
	margin: 0;
	padding: 0;
	top: -10%;
}*/

.about-us, .contact-us, .what-we-do, .our-history {
	min-height: 100%;
}

body, a {
	color: white;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
#left-sidebar {
	position: fixed;
	top: 0%;
	height: 100%;
	width: 13%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.25) 30%,rgba(0,0,0,0.1) 70%,rgba(0,0,0,0) 100%);
}
.logo img {
	padding: 20% 10% 16% 10%;
}
.about-us h1, .our-history h1, .what-we-do h1, .contact-us h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.3em;
	font-weight: 900;
}
.about-us p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	font-weight: 200;
	margin: 1em 0;
	line-height: 1.5;
}
.our-history p, .what-we-do p, .contact-us p, h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	font-weight: 200;
	margin: 1em 0;
	line-height: 1.5;
}
.vcenter {
	display: table;
}
.vcenter .row {
  display: table-cell;
  vertical-align: middle;
}

.button {
	padding: 1em 2em;
	border: 1px solid white;
	border-radius: 0;
}
.button a{
	text-decoration: none;
	color: #fff;
}
.button:hover {
	text-decoration: none;
	color: black;
	background-color: #fff;
	transition: 0.5s;
}

.grid p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	font-weight: 200;
	margin: 1em 0;
	line-height: 1.5;
}
.grid h5 {
	margin-top: 0;
}
.grid .icon {
	text-align: center;
	font-size: 3.1em;
	margin: 10px 0;
}

.nav>li>a:hover {
	background: rgba(0,0,0,0.4);
	color: #fff;
}

.nav>li>a {
	font-size: 0.9em;
	line-height: 1;
	text-transform: lowercase;
	padding: 7px 10px;
}

li.active>a {
	background: rgba(0,0,0,0.2);
	font-weight: bold;
}

a, body {
	transition: all 0.4s;
}
